<div class="schedule-page">
  <form class="schedule-form">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" [value]="getDateFromString(element.date)" (dateChange)="onDateChange(element, $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field>
            <mat-select [(ngModel)]="element.type" [ngModelOptions]="{standalone: true}">
              <mat-option value="automatic">Automatic</mat-option>
              <mat-option value="manual">Manual</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef style="flex: 2;">Value</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 2;">
          <mat-form-field *ngIf="element.type == 'automatic'">
            <mat-select  [(ngModel)]="element.name" [ngModelOptions]="{standalone: true}" (change)="onValueChange(element, $event)">
              <mat-option *ngFor="let option of scheduleOptions" [value]="option">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="element.type == 'manual'" style="width: calc(100% - 50px)">
            <textarea matInput [(ngModel)]="element.classes" [ngModelOptions]="{standalone: true}" (change)="onValueChange(element, $event)"></textarea>
          </mat-form-field>
          <button type="button" (click)="removeItem(element)" style="float:right" mat-icon-button *ngIf="!element.temp">
            <mat-icon>close</mat-icon>
          </button>
          <button type="button" (click)="addItem(element)" style="float:right" mat-icon-button *ngIf="element.temp">
            <mat-icon>add</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
  </form>
</div>
