<div class="athletics-page">
  <form class="athletic-form">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef style="flex: 2">Sport Name</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 2">
          <mat-form-field>
            <input matInput [(ngModel)]="element.name" (change)="onNameChange(element)" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef style="flex: 2">Calendar URL</mat-header-cell>
        <mat-cell *matCellDef="let element" style="flex: 2">
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="element.url" (change)="onUrlChange(element)" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <button type="button" (click)="removeItem(element, true)" mat-icon-button *ngIf="!element.temp">
            <mat-icon>close</mat-icon>
          </button>
          <button type="button" (click)="addItem(element, true)" mat-icon-button *ngIf="element.temp">
            <mat-icon>add</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
  </form>
</div>
